{extend name="common/base"}
   {block name="style"}
    <link rel="stylesheet" href="__MOBILE__/css/address.css">
    <style type="text/css">
		.inBg{
			height:60px;
			line-height: 60px;
			font-size:26px;
			text-align:center;
		}
                form{height:90%;}
		
	</style>

   {/block}
 
   {block name="content"}
    
   <div class="inBg">
       
       {$bslist['title']}比赛报名系统

   </div>
    <div class="container">
        <form  id="form">
            
            <div class="content clearfix">
                <label class="formLabel float-L">省</label>
                <div class="formInput float-L">
                    <select name="province" id="province" data-foolish-msg="请填省份"  {if condition="$bsdata['country'] neq 1"} disabled {/if} >
                        <option value="">请填省份</option>
                        {foreach name="province" item="vo"}
                        <option value="{$vo.id}" {if condition="$bsdata['province'] eq $vo['id']"}selected{/if}>{$vo.name}</option>
                        {/foreach}
                        
                    </select>

                </div>
            </div>
            <div class="content clearfix">
                <label class="formLabel float-L">市</label>
                <div class="formInput float-L">
                    <select name="city" id="city" data-foolish-msg="请填写市" {if condition="$bsdata['country'] neq 1"} disabled {/if}>
                        <option value="">请填写市</option>
                      
                    </select>
                </div>
            </div>
            <div class="content clearfix">
                <label class="formLabel float-L">区</label>
                <div class="formInput float-L">
                    <select name="district" id="district" data-foolish-msg="请填写区/县" {if condition="$bsdata['country'] neq 1"} disabled {/if}>
                        <option value="">请填写区/县</option>
                        
                    </select>

                </div>
            </div>
            <div class="content clearfix">
                <label class="formLabel float-L">详细地址</label>
                <div class="formInput float-L">
                    <input id="address" class="bor" data-foolish-msg="请输入联系地址" type="text" name="address"  placeholder="请输入联系地址" value="{$bsdata['address']}">
                </div>
            </div>
            <div class="content clearfix">
                <label class="formLabel float-L">邮编</label>
                <div class="formInput float-L">
                    <input id="Zipcode" class="bor" type="tel" name="zipcode" data-foolish-msg="请输入正确的邮编" placeholder="请填写邮编" value="{$bsdata['zipcode']}" >
                </div>
            </div>
             <div class="content clearfix">
                <label class="formLabel float-L">证件类型</label>
                <div class="formInput float-L">
                    <select id="Id" name="cardid" data-foolish-msg="请选择证件类型" >
                        <option value="0"  >证件类型</option>
                       {clt:list db='idcard' id='vo' where="" order="" limit='2'}
                        <option value="{$vo['id']}" {if condition="$bsdata['cardid'] eq $vo['id']"}selected{/if} >{$vo['title']}</option>
                        {/clt:list}
                       
                    </select>
                </div>
            </div>
            <div class="content clearfix">
                <label class="formLabel float-L">证件号码</label>
                <div class="formInput float-L">
                    <input id="IdTpl" class="bor" type="tel" name="idtpl" data-foolish-msg="请填写正确" placeholder="请输入证件" value="{$bsdata['idtpl']}">
                </div>
            </div>
            <div class="content clearfix">
                <label class="formLabel float-L">所在学校(单位)</label>
                <div class="formInput float-L">
                    <input id="school" class="bor" type="text" name="school" data-foolish-msg="请输入正确学校地址" placeholder="请输入学校地址" value="{$bsdata['school']}">
                </div>
            </div>
            
<!--            <div style="height:100px;"></div>-->

        </form>
    </div>



    <div id="footer" class="bottom clearfix">
        <div><a href="javascript:history.back(-1);"><span class="on">上一步</span></a></div>
        <div><span class="active">下一步</span></div>
    </div>
{/block}

{block name="js"}
    <script src="__MOBILE__/mobile/layer.js"></script>
    <script>
   
        function getcity(id){
          		var current_province_id=id;
                  
		
		$.ajax({
			url:"{:url('getRegion')}",
			data:{pid:current_province_id},
			dataType:'json',
			type:'post',
                        async: false,
			success:function(re){
                            
				var html='<option value="0">请选择</option>';
                                $("[name='district']").html(html);
				var item=re;
				for(var i in item){
                                    if (item[i]['id']=='{$bsdata[\'city\']}'){
					html +='<option value="'+item[i]['id']+'" selected>'+item[i]['name']+'</option>';
                                    }else{
                                        html +='<option value="'+item[i]['id']+'" >'+item[i]['name']+'</option>';
                                    }
					
				}
				$("[name='city']").html(html);
                                
			}
		})
      }
      
      
      function getdistrict(id){
          		var current_city=id;
		$.ajax({
			url:"{:url('getRegion')}",
			data:{pid:current_city},
			dataType:'json',
			type:'post',
			success:function(re){
				var html='<option value="0">请选择</option>';
				var item=re;
				for(var i in item){
                                    if (item[i]['id']=='{$bsdata[\'district\']}'){
					html +='<option value="'+item[i]['id']+'" selected>'+item[i]['name']+'</option>';
                                    }else{
                                        html +='<option value="'+item[i]['id']+'" >'+item[i]['name']+'</option>';
                                    }
					
				}
				$("[name='district']").html(html);
			}
		})
      }
      	$("[name='province']").change(function(){
		$("[name='city']").html('<option value="0">请选择</option>');
                getcity($(this).val());
                $("[name='district']").val();
	})
	$("[name='city']").change(function(){
		$("[name='district']").html('<option value="0">请选择</option>');

                getdistrict($(this).val());
	})
	var pro_id=$("[name='province']").val();
        if(pro_id>0){
            $("[name='city']").html('<option value="0">请选择</option>');
            getcity($("[name='province']").val());
            $("[name='district']").html('<option value="0">请选择</option>');
            getdistrict($("[name='city']").val());
        }
        
        var requestData ={};
        $("#footer .active").click(function() {
            var valid = true;
            var requestData = {
                province : $("[name='province']").val(),
                city : $("[name='city']").val(),
                Area : $("[name='district']").val(),
                address :$("#address").val(),
                Zipcode : $("#Zipcode").val(),
                Id:$("[name='cardid']").val(),
                IdTpl:$("#IdTpl").val(),
                school:$("#school").val()
            };
          {if condition="$bsdata['country'] eq 1"} 
            if(valid && requestData.province <= 0){
                valid = false;
                var tips = $("#province").attr("data-foolish-msg");
                $("#province").focus();


            }
            if(valid && requestData.city <= 0){
                valid = false;
                var tips = $("#city").attr("data-foolish-msg");
                $("#city").focus();


            }
            if(valid && requestData.Area <= 0){
                valid = false;
                var tips = $("#district").attr("data-foolish-msg");
                $("#district").focus();


            }
          {/if}
            if(valid && requestData.address.length <=0){
                valid = false;
                var tips = $("#address").attr("data-foolish-msg");
                $("#address").focus();


            }
            if(valid && requestData.Zipcode.length !==6 ){
            
                valid = false;
                var tips = $("#Zipcode").attr("data-foolish-msg");
                $("#Zipcode").focus();


            }
            
            if(valid && requestData.Id <=0 ){
                valid = false;
                
                var tips = $("#Id").attr("data-foolish-msg");
                $("#Id").focus();


            }
//            if(valid && requestData.IdTpl.length <0 ){
//                valid = false;
//                var tips = $("#IdTpl").attr("data-foolish-msg");
//                $("#IdTpl").focus();
//
//
//            }
            if(requestData.Id==1){
                if(valid && requestData.IdTpl.length !== 18 ){
                    valid = false;
                    var tips = $("#IdTpl").attr("data-foolish-msg");
                    $("#IdTpl").focus();

                }else if(requestData.Id==2){
                    if(valid && requestData.IdTpl.length !== 8 ){
                    valid = false;
                    var tips = $("#IdTpl").attr("data-foolish-msg");
                    $("#IdTpl").focus();
                }
            }
        }
            if(valid && requestData.school.length <= 0){
                valid = false;
                var tips = $("#school").attr("data-foolish-msg");
                $("#school").focus();


            }
            
            


            if(valid){
                savedata();
            }else{
                layer.open({
                    content: tips
                    ,skin: 'msg'
                    ,time: 1 //2秒后自动关闭
                });
            }

           


        });


function savedata(){
  $.ajax({
			url:"{:url('savedata')}",
			data:{data:$('#form').serialize()},
			dataType:'json',
			type:'post',
			success:function(re){
				window.location.href='{:url(\'project\')}';
			}
		}) 
}


    </script>
    {/block}

{/extend}