{extend name="common/base"}
   {block name="style"}
    <link rel="stylesheet" type="text/css" href="__MOBILE__/css/style.css">
	<style type="text/css">
		form{height:80%;}
		.layui-m-layerchild.layui-m-layer-msg.layui-m-anim-up{
			font-size: 30px;
			padding: 10px;
		}
		.information .examinee:nth-child(4){
			position:relative;
		}
		.music-radio:nth-child(1){
			margin-left:0!important;
		}
		.prompt{
			font-size:22px;
			color:red;
		}
		.gap-gap{height:60px;}
		.examinee-val.g-width-common-val>input{
			width:90%;
		}
		.examinee-val.g-width-common-val>span{
			font-size:40px;
		}
		p{text-align: center;}
		p>span{
			display:inline-block;
			font-size:24px;
			border:1px solid #333;
			margin:30px auto;
			padding:5px 60px;
		}
		p>span.active{
			background:rgb(58,54,51);
			color:#fff;
		}
		textarea{
			width:100%;
			height:100%;
			margin-top:35px;
			
		}
	</style>
   {/block}
	
{block name="content"} 
	<!-- 考生信息 -->
	<div class="gap-gap">
		{$bslist['title']}比赛报名系统
	</div>
	<div class="information">
		<div class="examinee examinee-title border-bottom-solid">参赛者信息</div>
		<div class="examinee border-bottom-solid">
			<div class="examinee-info g-width-common-info">姓名</div>
			<div class="examinee-val g-width-common-val">{if condition="$bsdata['name'] neq ''"} {$bsdata['name']}{else/} 信息未收录,请返回第一步填写 {/if}</div>
		</div>
		<div class="examinee examinee-sex">
			<div class="examinee-info g-width-common-info">性别</div>
			<div class="examinee-val g-width-common-val">{if condition="$bsdata['sex'] eq 1"} 男{else/}女 {/if}</div>
		</div>
	</div>
	<!-- 考级信息 -->
	<div class="inBg"></div>
	<div class="information" style="border-bottom:none;">
		<div class="examinee examinee-title border-bottom-solid">参赛信息</div>
		<form id="form">
			<div class="examinee border-bottom-solid">
				<div class="examinee-info g-width-common-info">科目</div>
				<div class="examinee-val g-width-common-val">
                                    <select name="yqid" class="level-select" data-foolish-msg="请选择科目" id="yqid">
					  <option value="">请选择科目</option>
                                          {foreach name="gamelist" item="gl"}
					  <option value="{$gl['yqid']}" {if condition="$bsdata['yqid'] eq $gl['yqid']"}selected{/if} >{$gl['yqtitle']}</option>
                                          {/foreach}
					  
					</select>
                                </div>
			</div>
			<div class="examinee border-bottom-solid ">
				<div class="examinee-info g-width-common-info">级别</div>
				<div class="examinee-val g-width-common-val">
					<select name="levelid" class="level-select" data-foolish-msg="请选择级别" id="levelid">
					  <option value="">请选择级别</option>
					  
					</select>
				</div>
			      
			</div>
			<div class="examinee border-bottom-solid">
				<div class="examinee-info g-width-common-info">组别</div>
				<div class="examinee-val g-width-common-val" >
                                    <select name="teamid" class="level-select" data-foolish-msg="请选择组别" id="teamid">
					  <option value="">请选择组别</option>
					  
					</select>
<!--					<div class="music-radio">
						<input type="radio" name="teamid" class="radio-btn" value="1" checked="checked" ><label class="music-label">儿童组</label>
					</div>
					
					<div class="music-radio">
						<input type="radio" name="teamid" class="radio-btn" value="2"><label class="music-label">少年组</label>
					</div>
					-->
				</div>
			</div>
			<div class="examinee border-bottom-solid">
				<div class="examinee-info g-width-common-info">视频链接</div>
				<div  class="examinee-val g-width-common-val" >
					<input type="text" id="videourl" name="videourl" class="certificate input-text-font" value="{$bsdata['videourl']}" placeholder="请输入参赛视频链接" data-foolish-msg="请输入正确的参赛视频链接">
				</div>
				
			</div>
			<span class="prompt">*请上传视频到腾讯视频中并把链接填写到上方输入框内</span>
			<div class="inBg"></div>

			<div id="play" class="play" >
				<div id="play_one" class="examinee border-bottom-solid"> 
					<div class="examinee-info g-width-common-info">曲目</div>
					<div class="examinee-val g-width-common-val">
						<!-- <textarea type="text" name="play" class=""  placeholder="请输入您要表演的曲目" data-foolish-msg="请输入正确的曲目"> -->
							<textarea id="Ptextarea" name="sings" value="" class="certificate input-text-font" data-foolish-msg="请输入正确的曲目">{$bsdata['sings']}</textarea>


							
					</div>
				</div>
				<!-- <p class="">
					<span class="">增加</span>
				</p> -->
			</div>


		
		</form>
	
	</div>
	<div class="order-footer">
		<a href="javascript:history.back(-1);"><button class="order-btn-up">上一步</button></a>
		<button class="order-btn-low">下一步</button>
	</div>
        {/block}
	{block name="js"}

	<script src="__MOBILE__/mobile/layer.js"></script>
	<script >
            
function getlevel(id){
	var current_province_id=id;
                  
		$.ajax({
			url:"{:url('getLevel')}",
			data:{yqid:current_province_id},
			dataType:'json',
			type:'post',
                        async: false,
			success:function(re){
                            
				var html='<option value="0">请选择级别</option>';
                                
				var item=re;
				for(var i in item){
                                    if (item[i]['levelid']=='{$bsdata[\'levelid\']}'){
					html +='<option value="'+item[i]['levelid']+'" selected>'+item[i]['leveltitle']+'</option>';
                                    }else{
                                        html +='<option value="'+item[i]['levelid']+'" >'+item[i]['leveltitle']+'</option>';
                                    }
					
				}
				$("[name='levelid']").html(html);
                                
			}
		})
      }
      
      
      function getteam(id){
          		var current_city=id;
		$.ajax({
			url:"{:url('getTeam')}",
			data:{levelid:current_city},
			dataType:'json',
			type:'post',
			success:function(re){
				var html='<option value="0">请选择组别</option>';
				var item=re;
				for(var i in item){
                                    if (item[i]['teamid']=='{$bsdata[\'teamid\']}'){
					html +='<option value="'+item[i]['teamid']+'" selected>'+item[i]['teamtitle']+'</option>';
                                    }else{
                                        html +='<option value="'+item[i]['teamid']+'" >'+item[i]['teamtitle']+'</option>';
                                    }
					
				}
				$("[name='teamid']").html(html);
			}
		})
      }
      	$("[name='yqid']").change(function(){
		$("[name='levelid']").html('<option value="0">请选择级别</option>');
                getlevel($(this).val());
                $("[name='teamid']").val();
	})
	$("[name='levelid']").change(function(){
		$("[name='teamid']").html('<option value="0">请选择组别</option>');

                getteam($(this).val());
	})
	var pro_id=$("[name='yqid']").val();
        if(pro_id>0){
            $("[name='levelid']").html('<option value="0">请选择级别</option>');
            getlevel($("[name='yqid']").val());
            $("[name='teamid']").html('<option value="0">请选择组别</option>');
            getteam($("[name='levelid']").val());
        }
		var requestData = {};
		$(function() {
        	$('.order-btn-low').on('click', function() {
            
            	var requestData = {
            		Piano_level:$("#yqid").val(),
                        Piano_level2:$("#levelid").val(),
                        Piano_level3:$("#teamid").val(),

//            		music_class:$('input:radio[name="levelid"]:checked').val(),
            			certificate:$('#videourl').val(),
            			Ptextarea:$("#Ptextarea").val()



        		}
        		console.log(requestData)
            	var valid = true;
	            if(valid && requestData.Piano_level == 0){
	                valid = false;
	                var tips = $("#yqid").attr("data-foolish-msg");
	                $("#yqid").focus();
	            }
                    if(valid && requestData.Piano_level2 == 0){
	                valid = false;
	                var tips = $("#levelid").attr("data-foolish-msg");
	                $("#levelid").focus();
	            }
                    if(valid && requestData.Piano_level3 == 0){
	                valid = false;
	                var tips = $("#teamid").attr("data-foolish-msg");
	                $("#teamid").focus();
	            }
//	            if(valid && requestData.music_class < 1){
//	                valid = false;
//	                var tips = "请选择乐理等级";
//	                $(".radio-btn").focus();
//	            }
                  
	            if(valid && requestData.certificate.length<=0){
	                valid = false;
	                var tips = $("#videourl").attr("data-foolish-msg");
	                $("#videourl").focus();
	            }


	            if(valid && requestData.Ptextarea.replace(/(^\s+)|(\s+$)/g,"").length == '' ){
	            		            	valid = false;
	            	var tips = $('#Ptextarea').attr('data-foolish-msg');
	            	$('#Ptextarea').focus();
	            }

//	            function certificate(mobile){
//	            	
//	            		if((/^(?:http(?:s|):\/\/|)(?:(?:\w*?)\.|)(?:\w*?)\.(?:\w{2,4})(?:\?.*|\/.*|)$/ig).test(mobile)){
//	            			return true;
//	            		}else{
//	            			return false
//	            		}
//	            	
//	            }
	            if(valid){
                    savedata();
	            }else{
	                layer.open({
		                  content: tips
		                  ,skin: 'msg'
		                  ,time: 2 //2秒后自动关闭
		                });
	            }



	            

        });

    })

		// $("p>span").click(function(){
	 //            		alert('aa');
	 //            		create();
		// 	})

		// function create(){
	
		// 			var examineediv = $("<div></div>");
		// 			examineediv.addClass('examinee border-bottom-solid');
		// 			$("#play_one").after(examineediv);

		// 			var infodiv =$("<div>曲目</div>");
		// 			//infodiv.innerHTML = "曲目";
		// 			infodiv.addClass('examinee-info g-width-common-info');
		// 			examineediv.append(infodiv);

		// 			var valdiv = $("<div></div>");
		// 			valdiv.addClass('examinee-val g-width-common-val');
		// 			examineediv.append(valdiv);

		// 			var inputdiv = $('<input data-foolish-msg="请输入正确的曲目"/>');
		// 			inputdiv.addClass('certificate input-text-font');
		// 			valdiv.append(inputdiv);

		// 			var spandiv =$('<span>✖<span>');
		// 			spandiv.addClass('inputSpan')
		// 			inputdiv.after(spandiv);
					
		// 			spandiv.click(function(){
		// 				examineediv.remove();
		// 		});

		// }
function savedata(){
  $.ajax({
			url:"{:url('savedata')}",
			data:{data:$('#form').serialize()},
			dataType:'json',
			type:'post',
			success:function(re){
				window.location.href='{:url(\'order\')}';
			}
		}) 
}

 


     
 	
	</script>
        {/block}


{/extend}