{extend name="common/base"}
   {block name="style"}
  <link rel="stylesheet" href="__MOBILE__/cropper/css/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="__MOBILE__/cropper/css/bootstrap-cropper.min.css">
  <link rel="stylesheet" href="__MOBILE__/cropper/css/cropper.css">
  <link rel="stylesheet" href="__MOBILE__/cropper/css/main.css">
 

<style>
html,body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
body{
  
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  overflow:hidden;
}

.my-center{
  height: 100%;
  margin-top:2%;
  overflow-y:scroll;
  overflow-x:scroll;
}
.modal-dialog{top:200px;}
.show div{padding-right:26px;}
.box{
  width: 100%;
  height:100%;
  overflow: hidden;
}
h5{font-size:2.4rem;}
.btn{font-size: 1.8rem;}
.btn-group{
  margin:10px 50px;
}
.close{font-size: 2.4rem;}
.cropper-wrap-box{
    background:url("__MOBILE__/img/bg.png")no-repeat 100% 0/100% 100%;
}
@media (min-width: 576px) {
    .HomeNav .container,.menu .container{
        max-width: 720px;
    }

}

</style>
{/block}

{block name="content"}
  <div class="box">
  <!-- Content -->
  <div class="container my-center">
    <div class="row">
      <div class="col-md-9">
        <div class="img-container" style="height:497px;">
          <img id="image" src="__MOBILE__/img/bg.png" alt="Picture">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 docs-buttons" style="text-align: center;">

        <div class="btn-group">
          <label class="btn btn-primary btn-upload" for="inputImage" title="Upload image file">
            <input type="file" class="sr-only  js_file" id="inputImage" name="file" accept="image/*">
            <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="">
              <span class=""></span>选择
            </span>
          </label>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-primary" data-method="getCroppedCanvas" data-option="{ &quot;maxWidth&quot;: 4096, &quot;maxHeight&quot;: 4096 }">
            <span class="docs-tooltip" data-toggle="tooltip" data-animation="false">
              上传
            </span>
          </button>
        </div>
        
        <!-- modal 弹出层-->
        <div class="modal fade docs-cropped" style="height:100%;" id="getCroppedCanvasModal" aria-hidden="true" aria-labelledby="getCroppedCanvasTitle" role="dialog" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="getCroppedCanvasTitle">确定上传</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                <a class="btn btn-primary" id="download" href="javascript:void(0);" download="cropped.jpg" style="display: none;">下载</a>
                <button class="btn btn-primary" onclick="nextpage();">确定</button>
              </div>
            </div>
          </div>
        </div><!-- /.modal -->

        <div style="display: none;" class="btn-group">
          <button type="button" class="btn btn-primary">
           <span class="docs-tooltip" onclick="backpage();">
             返回上页
           </span>
          </button>
        </div>
      </div>
    </div><!-- row-two -->
  </div>
<div class="box_bottm col-xs-12" style="position:fixed;bottom:0;width:100%;height:100px;">
  <span class="btn btn-primary btn-block col-xs-12" style="font-size:2.5rem;height:100%;cursor:pointer;background:#333;line-height:80px;color:#fff;border:none;">上一步</span>
</div>


 
</div>

{/block}
    {block name="js"}
  <!-- Scripts -->
 <script src="__MOBILE__/cropper/js/jquery.js"></script>
  <script src="__MOBILE__/cropper/js/popper.min.js"></script>
  <script src="__MOBILE__/mobile/layer.js"></script>
  <script src="__MOBILE__/cropper/js/bootstrap-cropper.min.js"></script>
  <script src="__MOBILE__/cropper/js/common.js"></script>
  <script src="__MOBILE__/cropper/js/cropper.js"></script>
  <script src="__MOBILE__/cropper/js/main.js"></script>
  <script>
 
    
 
</script>
  <script>
   
    function nextpage(){
        var data=$('#download').attr("href");
      var index = layer.open({
          type: 2
          ,content: '加载中'
        });

     $.ajax({
              url:"{:url(\'bsupload\')}",
              data:{data},
              dataType:'json',
              type:'post',
              success:function(re){
                layer.close(layer.index);
                  if(re.code==1){
                      window.location.href="{:url('project')}"; 
                  }else{
                      alert(re.msg);
                  }
                                   
                 },
                 error:function(re){
                    layer.close(layer.index);
                     alert('上传失败，请重新上传');
                 }
               });
    

     // window.location.href="{:url('Index/index8')}";
    }
  </script>
  {/block}

</body>
</html>
