{extend name="common/base"}
   {block name="style"}
    <link rel="stylesheet" type="text/css" href="__MOBILE__/css/style.css">
    <style type="text/css">
		
		.gap-gap{height:60px;}
	</style>
   {/block}

	
{block name="content"} 
	<!-- 确认订单 -->
	<div class="gap-gap">
		{$bslist['title']}比赛报名系统
	</div>
	<div class="information">
		<div class="order border-bottom-solid">
			<div class="examinee-info">总金额</div>
			<div class="order-val"><span style="font-size: 72px;">￥</span>{$costlist.amount}</div>
		</div>
		<div class="order-info">
			<div class="examinee-info">姓名</div>
			<div class="order-info-val">{$bsdata['name']}</div>
		</div>
		<div class="order-info">
			<div class="examinee-info">报名科目</div>
			<div class="order-info-val">{$costlist.yqtitle}</div>
		</div>
		<div class="order-info">
			<div class="examinee-info">级别</div>
			<div class="order-info-val">{$costlist.leveltitle}</div>
		</div>
		<div class="order-info">
			<div class="examinee-info">组别</div>
			<div class="order-info-val">{$costlist.teamtitle}</div>
		</div>
		<div class="order-info">
			<div class="examinee-info">报名费</div>
			<div class="order-info-val" style="font-size:46px;">{$costlist.cost}</div>
		</div>
		<div class="order-info">
			<div class="examinee-info">平台服务费</div>
			<div class="order-info-val" style="font-size:46px;">{$costlist.service_cost}</div>
		</div>
	</div>
	<div class="order-footer">
		<a href="{:url('save_order')}"><button class="order-btn">完成</button></a>
	</div>
        {/block}
	
