{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{:lang('list')}</legend>
    </fieldset>
    <div class="demoTable">
        <div class="layui-inline">
            <input class="layui-input" name="key" id="key" placeholder="{:lang('pleaseEnter')}关键字">
        </div>
        <button class="layui-btn" id="search" data-type="reload">{:lang('search')}</button>
        <a href="{:url('index',['catid'=>input('catid')])}" class="layui-btn">显示全部</a>
       
        <div style="clear: both;"></div>
    </div>
    <table class="layui-table" id="list" lay-filter="list"></table>
</div>
{include file="common/foot"/}


<script type="text/html" id="title">
    <span >{{d.name}}</span>
    {{# if(d.thumb){ }}<img src="__ADMIN__/images/image.gif" onmouseover="layer.tips('<img src=__PUBLIC__/{{d.thumb}}>',this,{tips: [1, '#fff']});" onmouseout="layer.closeAll();">{{# } }}
</script>
<script type="text/html" id="action">
    <a href="" class="layui-btn layui-btn-xs">查看</a>
  
</script>
<script>
    layui.use('table', function() {
        var table = layui.table, $ = layui.jquery,form = layui.form;
        var tableIn = table.render({
            id: 'content',
            elem: '#list',
            url: '{:url("index")}',
            where:{catid:'{:input("catid")}'},
            method: 'post',
            page: true,
            cols: [[
                
                {field: 'id', title: '{:lang("id")}', width: 80, fixed: true},
                {field: 'title', title: '姓名', width: 400, templet: '#title'},
//                {field: 'hits',  title: '{:lang("hit")}', width: 80},
                {field: 'costtitle', title: '报名简述', width: 400},
                {field: 'order_no', title: '支付订单号', width: 400},
                {field: 'createtime', title: '报名{:lang("time")}', width: 180},
                {width: 160, align: 'center', toolbar: '#action',title:'操作'}
            ]],
            limit: 10
        });

        //搜索
        $('#search').on('click', function () {
            var key = $('#key').val();
            if ($.trim(key) === '') {
                layer.msg('{:lang("pleaseEnter")}关键字！', {icon: 0});
                return;
            }
            tableIn.reload({
                where: {key: key,catid:'{:input("catid")}'}
            });
        });
      
 
    });
</script>